.sixth-screen {
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: hidden;

  .container {
    position: relative;
  }
}

.sixth-screen__title {
  margin-bottom: 35px;
  font-weight: bold;
}

.sixth-screen__item {
  background: #FFFFFF;
  border-radius: 10px;
  margin-bottom: 12px;
  padding: 22px 60px 22px 22px;
  color: $primary;
  display: flex;
  align-items: center;

  span {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    margin-right: 32px;
  }

  p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.sixth-screen__text {
  margin-bottom: 50px;
}

.sixth-screen__car {
  position: absolute;
  top: 0;
  left: -570px;
}

.sixth-screen__img {
  position: absolute;
  top: 50px;
  right: -400px;
}

@media (max-width: 991.98px) {
  .sixth-screen__title {
    text-align: center;
    margin-bottom: 43px;
  }

  .sixth-screen {
    padding-bottom: 30px;
    padding-top: 37px;
  }

  .sixth-screen__text {
    line-height: normal;
    margin-bottom: 45px;
  }

  .sixth-screen__list {
    margin-bottom: 550px;
  }

  .sixth-screen__car {
    bottom: 0;
    top: auto;
    left: auto;
    right: 30px;
    max-width: 760px;
  }

  .sixth-screen__img {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .sixth-screen {
    padding-top: 25px;
  }

  .sixth-screen__title {
    margin-bottom: 45px;
  }

  .sixth-screen__text {
    font-size: 12px;
  }

  .sixth-screen__item {
    padding: 19px 15px;

    span {
      margin-right: 22px;
    }

    p {
      font-size: 12px;
      line-height: normal;
    }
  }

  .sixth-screen__car {
    max-width: 430px;
    left: 40%;
    margin-right: 20px;
    transform: translateX(-50%);
  }

  .sixth-screen__list {
    margin-bottom: 300px;
  }
}
