.fourth-screen {
  padding-top: 52px;
  padding-bottom: 87px;
  overflow: hidden;

  .container {
    position: relative;
  }

  .row {
    z-index: 1;
    position: relative;
  }

  .container-circle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .container-circle__3,
  .container-circle__2,
  .container-circle__1 {
    border-color: #FFFFFF;
    background: initial;
  }

  .container-circle__1 {
    animation: pulse 2s infinite ease-in-out;
    top: auto;
    left: auto;
    transform: initial;
    border: 1px solid #FFFFFF;
    width: 450px;
    height: 450px;
  }
}

.fourth-screen__title {
  text-align: center;
  margin-bottom: 80px;
  font-weight: bold;
  letter-spacing: -0.2px;
}

.fourth-screen__title-dt {
  display: block;
}

.fourth-screen__title-mb {
  display: none;
}

.fourth-screen__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  .description-block {
    margin-bottom: 14px;
    height: 270px;
    padding-top: 15px;

    .description-block__img {
      margin-bottom: 20px;
    }

    .description-block__text {
      line-height: 20px;
      text-align: center;
      font-size: 14px;
      color: #000000;
    }

    .description-block__title {
      font-size: 20px;
      margin-bottom: 12px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .description-block__body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.fourth-screen__image {
  max-width: 258px;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}

.fourth-screen_desktopHidden {
  display: none;
}

@media (max-width: 991.98px) {
  .fourth-screen {
    padding-top: 29px;
    padding-bottom: 54px;

    .container-circle-1 {
      display: none;
    }

    .container-circle {
      display: none;
    }
  }

  .fourth-screen__title-mb {
    display: block;
  }

  .fourth-screen__title-dt {
    display: none;
  }

  .fourth-screen__list {

    .description-block {
      display: flex;
      flex-direction: row;
      height: auto;
      margin-bottom: 6px;
      padding: 13px 10px 13px 30px;

      &:last-child {
        margin-bottom: 6px;
      }

      .description-block__img {
        margin-bottom: 0;
        margin-right: 30px;

        i {
          max-height: 50px;
          background-size: contain;
        }
      }

      .description-block__body {
        align-items: flex-start;

        .description-block__title {
          text-align: left;
          margin-bottom: 4px;
        }

        .description-block__text {
          text-align: left;
          font-size: 10px;
          line-height: normal;
        }
      }
    }

    .description-block__num {
      display: none;
    }
  }

  .fourth-screen__title {
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
  }

  .fourth-screen__img-block {
    margin-bottom: auto;
    height: 0;
  }

  .fourth-screen__image {
    max-width: 195px;
  }


}

@media (max-width: 767.98px) {
  .fourth-screen {
    .fourth-screen__container-circle {
      display: flex;

      .container-circle__3 {
        width: 200px;
        height: 200px;
      }

      .container-circle__2 {
        width: 250px;
        height: 250px;
      }

      .container-circle__1 {
        width: 300px;
        height: 300px;
      }
    }
  }

  .fourth-screen_desktopHidden {
    display: block;
  }

  .fourth-screen__img-block {
    height: auto;
    display: none;
  }

  .fourth-screen__title {
    margin-bottom: 16px;
  }

  .fourth-screen__image {
    transform: none;
    top: auto;
  }

  .fourth-screen__list {
    .description-block {
      display: flex;
      flex-direction: column;
      padding: 20px;
      margin-left: auto;
      margin-right: auto;
      max-width: 85%;
      width: 100%;
    }
  }

  .fourth-screen__list .description-block .description-block__img {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .fourth-screen__list .description-block .description-block__body .description-block__title {
    text-align: center;
  }

  .fourth-screen__list .description-block .description-block__body {
    align-items: center;
  }

  .fourth-screen__list .description-block__num {
    display: flex;
    width: 57px;
    height: 35px;
    font-size: 18px;
    line-height: 22px;
  }

  .description-block__num-right {
    left: -24px;
    right: auto;
  }

  .fourth-screen__mobHidden {
    display: none;
  }

  .fourth-screen {
    .fourth-screen__list.slider-block.owl-carousel.owl-theme .owl-nav {
      position: static;
      justify-content: center;
      margin-top: 25px;
    }

    .slider-block.owl-carousel.owl-theme .owl-nav button {
      background: #FFFFFF !important;
    }

    .slider-block.owl-carousel.owl-theme .owl-dots .owl-dot.active span {
      background: #FFFFFF;
    }

    .slider-block.owl-carousel.owl-theme .owl-dots .owl-dot span {
      background: #5CBBFF;
    }

    .third-screen__slider.slider-block.owl-carousel.owl-theme .owl-dots {
      margin-top: 30px;
    }
  }

  .fourth-screen__mobImg {
    z-index: 10;
    position: relative;
    margin-top: 40px;
    width: 104px;
    height: 318px;
  }
}

@media (max-width: 360px) {
  .fourth-screen__list .description-block {
    max-width: 82%;
  }
}
