.main-text {
  font-size: 18px;
  line-height: 28px;
}

@media (max-width: 991.98px) {
  .h1, h1 {
    font-size: 32px;
  }
  .main-text {
    font-size: 14px;
    line-height: 24px;
  }

}

@media (max-width: 767.98px) {
  .h1, h1 {
    font-size: 26px;
  }
}
