.eighth-screen {
  padding-top: 55px;
  padding-bottom: 80px;
  //overflow: hidden;

  .container {
    position: relative;
  }
}

.eighth-screen__list {
  display: flex;
  flex-direction: column;
}

.eighth-screen__title {
  font-weight: bold;
  margin-bottom: 54px;
  font-size: 39px;
}

.eighth-screen__container {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border-radius: 15px;
  padding: 14px;
  height: 100%;
}

.eighth-screen__wrapper {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  border-radius: 15px;
  color: #000000;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 38px;
  height: 100%;
}

.eighth-screen__container-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  margin: 28px auto 24px;
  max-width: 370px;
}

.eighth-screen__container-description {
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #000000;
  margin-bottom: 40px;
  max-width: 330px;
  margin-left: auto;
  margin-right: auto;
}

.eighth-screen__form-input {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  font-weight: 500;
  color: #7B7B7B;
  padding-left: 12px;
  margin-bottom: 33px;
}

.eighth-screen__form-btn {
  height: 102px;
  width: 100%;
  margin-bottom: 55px;
  border-color: #5CBBFF;
}

.eighth-screen__form {
  .form-check {
    padding-left: 5px;
  }
}

.eighth-screen__img {
  position: absolute;
}

.eighth-screen__canister {
  top: 80px;
  left: -450px;
}

.eighth-screen__group-img {
  top: 0;
  right: -600px;
}

.eighth-screen__title-desktop {
  display: block;
}

.eighth-screen__title-mob {
  display: none;
}

@media (max-width: 1199.98px) {
  .eighth-screen__img {
    display: none;
  }

  .eighth-screen {
    overflow: initial;
  }
}

@media (max-width: 991.98px) {
  .eighth-screen {
    padding-top: 24px;
    padding-bottom: 50px;
  }

  .eighth-screen__title-desktop {
    display: none;
  }

  .eighth-screen__title-mob {
    display: block;
    text-align: center;
    margin-bottom: 25px;
    font-size: 32px;
  }

  .eighth-screen__container {
    padding: 8px;
  }

  .eighth-screen__container-title {
    font-size: 16px;
    line-height: normal;
    margin-bottom: 9px;
    margin-top: 15px;
  }

  .eighth-screen__wrapper {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 10px;
  }

  .eighth-screen__container-description {
    font-size: 10px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  .eighth-screen__form-input {
    height: 46px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 20px;
  }

  .eighth-screen__form-btn {
    height: 50px;
    font-size: 14px;
    margin-bottom: 26px;
  }

  .eighth-screen__form .form-check {
    padding-left: 0;
    max-width: 163px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767.98px) {
  .eighth-screen__title-mob {
    font-size: 26px;
  }

  .eighth-screen__container-description {
    font-size: 12px;
    margin-bottom: 32px;
  }

  .eighth-screen__form-input {
    height: 60px;
    font-weight: 500;
    font-size: 12px;
  }

  .eighth-screen__form-btn {
    height: 75px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }

  .eighth-screen__form .form-check {
    max-width: 100%;
  }

  .eighth-screen__wrapper {
    padding-bottom: 30px;
    padding-top: 20px;
  }

  .eighth-screen__container {
    padding: 10px;
  }
}
